* {
    box-sizing: border-box;
  }
.header-title {
    background-image: linear-gradient(15deg, #b0b6ec 0%, #0f1cce 100%);
    color: white;
    text-align: center;
}
/* Search Form Card */

.search-form{
    width: 25%;
}
#userInput{
    width:100%
}
#searchBtn{
    width: 100%;
    background-image: linear-gradient(15deg, #b0b6ec 0%, #0f1cce 100%);
}
/* previous search buttons  */
/* #clear-history{
    margin-top: 250px;
    position:fixed;
} */
.previous-searches{
    width: 100%;
    /* border-top: .5px solid black; */
    float: left;
    margin: 5px 0px;
    padding: 5px;
}
.previousList {
    width: 100%;
    margin: 2px;
}



/* current city  */
.city{
    width: 75%;
}
.display-city {
    width: 100%;
}
.current-city {
    width: 100%;
    float: left;
    padding-left: 10px;
}
.current-city ul {
    list-style: none;
    padding-left: 0px;
}
.city-date {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

/* 5-day forecast */
.fiveDayBlock{
    background-image: linear-gradient(15deg, #b0b6ec 0%, #0f1cce 100%);
width: 100%;
border-radius: 1rem;
}
.fiveDayContainer div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;

}
#fiveDayHeader{
    width: 100%;
    margin: 10px;
    padding: 5px;
}

.fiveDayClass {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(29, 29, 77);
    color: white;
    padding: 5px 15px 15px 2px;
    margin: 5px;
    width: 18%;
    border-radius: 1rem;
}

/* color code for uvi */
.uvi-good {
    background-color: green;
    border-radius: 10%;
}

.uvi-moderate {
    background-color: yellow;
    border-radius: 10%;
}
.uvi-high {
    background-color: orange;
    border-radius: 10%;
}

.uvi-very-high {
    background-color: red;
    border-radius: 10%;
}
.row{
    margin: 10px;
}
/* @media queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .search-form{
        width: 100%;
    }
    .fiveDayContainer div{
        width: 100%;
    }
    .fiveDayClass{
        width:100%
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* .search-form{
        width: 100%;
    }
    .fiveDayClass{
        width: 100%;
    } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}