
.header-title {
    background-image: linear-gradient(15deg, #b0b6ec 0%, #0f1cce 100%);
    color: white;
    text-align: center;
}

/* previous search buttons  */
#clear-history{
    margin-top: 250px;
    position:fixed;
}
.previous-searches{
    width: 100%;
    border-top: .5px solid black;
    margin-top: 5px;
    padding: 5px;
}
.previousList {
    width: 100%;
    margin: 2px;
}

/* Search  */
.btn {
    width: 100%;
}
.card {
    margin: 5px;
}

/* current city card */
.current-city {
    width: 100%;
    padding-left: 10px;
}
.current-city ul {
    list-style: none;
    padding-left: 0px;
}
.city-date {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

/* 5-day forecast */
.fiveDayClass {
    background-color: rgb(29, 29, 77);
    color: white;
    padding: 5px 15px 15px 2px;
    margin: 0 0 10px 10px;
    text-align: center;
}
.row {
  margin-left: 10px;
}

/* color code for uvi */
.uvi-good {
    background-color: green;
    border-radius: 10%;
}

.uvi-moderate {
    background-color: yellow;
    border-radius: 10%;
}
.uvi-high {
    background-color: orange;
    border-radius: 10%;
}

.uvi-very-high {
    background-color: red;
    border-radius: 10%;
}

