
.header-title {
    background-image: linear-gradient(15deg, #b0b6ec 0%, #0f1cce 100%);
    color: white;
    text-align: center;
}
.previous-searches{
    width: 100%;
    border-top: .5px solid black;
    margin-top: 5px;
    padding: 5px;
}
.btn {
    width: 100%;
}
.card {
    margin: 5px;
}
.current-city {
    width: 100%;
    padding-left: 10px;
    border: .5px solid black;
}
.current-city ul li {
    list-style: none;
}